<h1 style="color: orangered">The Large Dict</h1>
<br />
<h2>简介</h2>
<p>
  <i>The Large Dict</i> (<i> TLGD </i>) 是一本简明英汉释义词典,
  相比于其他详尽权威解释的词典, 它的释义简洁明了
</p>
<h2>命名来源</h2>
<p>
  词典名的灵感来自<i>《The Little Dict》</i>， 这本词典收录了 <b>430w+</b>
  的词汇及其释义。 有趣的是，这本词典有如此巨大的收录量竟然冠以 <b>“little”</b> 之名！本词典收录的词汇数量远不及它，幽默一下，就叫做<b>“large”</b>吧！
</p>
<h2>项目</h2>
<ul>
  <li>
    <a href="https://github.com/okxhfiweohi/dict_data">数据仓库</a>
  </li>
  <li>
    <a href="https://github.com/okxhfiweohi/the_large_dict">前端界面</a>
  </li>
</ul>
<h2>致谢</h2>
<ul>
  <li>
    <a href="https://github.com/skywind3000/ECDICT">skywind3000/ECDICT</a>
    提供了音标、简明释义及占比等数据
  </li>
  <li>
    <a href="https://github.com/mahavivo/english-wordlists">mahavivo/english-wordlists</a> 提供了词汇表和很多标签数据
  </li>
  <li>
    <a href="https://github.com/liuyug/mdict-utils">Mdict Utils</a> 打包工具
  </li>
  <li>更多参见项目说明</li>
</ul>
